
.clearRight {
	clear: right;
	display: block;
}
.clearBoth {
	clear: both;
	display: block;
}
#calculator {
	color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#calculator .top {
	margin: 0;
	height: 9px;
}
#calculator .bottom {
	margin: 0;
	height: 20px;
}
#calculator .content {
	margin: 0px;
	width: 600px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#calculator .content .leftSide {
	margin: 0px;
	width: 180px;
	float: left;
	text-align: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#calculator .content .rightSide {
	margin: 0px;
	width: 180px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#calculator .content .middle {
	margin: 0px;
	width: 90px;
	float: left;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#calculator .content .fieldCell {
	margin: 0px;
	width: 50px;
	padding: 0px;
	float: left;
}
#calculator .content .answer {
	color: #0066cc;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #0066cc;
	border-bottom-color: #0066cc;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#calculator .content .answer p {
	margin: 0px;
	padding: 0px;
}
